.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 70px;
  background: #2c2c2cd7;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 15px 0;
  transition: width 0.4s ease;
  overflow: hidden;
  z-index: 50;
}

.sidebar-container.open {
  width: 220px;
}

.sidebar-toggle {
  cursor: pointer;
  text-align: left;
  padding: 10px 20px;
  color: #ffffff;
  transition: color 0.3s ease;

  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar-toggle:hover {
  color: #fff;
}
.sidebar-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 40px;
  flex-grow: 1;
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px 0;
  padding-left: 20px;
  cursor: pointer;
  border-radius: 10px;
  color: #ffffff;
  transition: background 0.3s ease, color 0.3s ease;
  width: 100%;
}

.sidebar-item:hover {
  background: hsl(0, 0%, 44%);
  color: #fff;
  border-radius: 40px 0px 0px 40px;
}

.sidebar-item.active {
  background: #2563eb;
  color: #fff;
  border-radius: 40px 0px 0px 40px;
}

.sidebar-icon {
  font-size: 24px;
}

.sidebar-label {
  font-size: 15px;
  white-space: nowrap;
}

.sidebar-divider {
  border: none;
  border-top: 1.5px dashed #ccc;
  margin: 30px auto 10px auto;
  width: 80%;
}

.sidebar-version {
  font-size: 12px;
  color: #bebebe;
  text-align: center;
  padding: 5px 0;
  margin-bottom: 10px;
}

.sidebar-footer {
  margin-top: auto;
  padding-bottom: 15px;
}

@media (max-width: 1024px) {
  .sidebar-container {
    display: none;
  }
}
