/* 🔝 TOP BAR (Barra superior fija) */

.top-bar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 70px;
 /* background-color: #00bcd4;*/
  border-radius:0px 0px 0px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 20;
}


.user-avatar img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  
  transition: transform 0.2s ease;
  
  /* Forma de gota */
  border-radius: 50% 50% 50% 50% ; 
  /* Esto genera una gota apuntando hacia abajo */
  border: 5px solid white;
}



/* 🔔 Icono de notificaciones */
.icon-container {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: flex-end;
}

.notification-icon,
.setting-icon {
  font-size: 28px;
  color: #ffffff;
  cursor: pointer;
  justify-content: flex-end;
  align-items: center;
}

/* BOTTOM MENU (Barra inferior) */
.bottom-menu-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.bottom-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 60px;
  background: linear-gradient(135deg, #1D4ED8 0%, #7E22CE 100%);
  border-radius: 40px;
  padding: 0 10px;
}

.floating-circle {
  position: absolute;
  bottom: 28px;
  left: 0;
  transition: transform 0.5s ease;
  z-index: 2;
}

.circle-inner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.tab-item {
  flex: 1;
  text-align: center;
  padding: 10px 0;
  z-index: 1;
  color:white;
}

.tab-item .tab-icon {
  display: block;
  font-size: 24px;
  transition: transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.tab-item.active {
  color: #cfcfcf00;
}

.tab-item.active .tab-icon {
  transform: translateY(-20px) scale(1.3);
}

.tab-item:not(.active) .tab-icon {
  transform: translateY(0) scale(1);
}
