.ingresos-gastos-container {
  padding: 0px;
  height: 100vh; /* Ocupa toda la pantalla */
  display: flex;
  flex-direction: column;
  position: static;
}

/* Filtros móviles */
.mobile-filters {
  margin-bottom: 16px;
}

.color-filter {
  position: fixed;
  top: 190px; /* distancia desde arriba */
  right: 20px; /* distancia desde la derecha */
  background-color: #1000eb !important;
  color: white !important;
  border-radius: 5px;
  border: none;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Icono interno para que quede centrado */
.color-filter .style-icon {
  font-size: 24px;
}

.filters-panel {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 8px;
}

.filters-panel label {
  display: block;
  margin-bottom: 4px;
}

.filters-actions {
  margin-top: 8px;
  display: flex;
  gap: 8px;
  left: -265px;
}

/* Lista de movimientos */
.lista-movimientos {
  flex: -100%; /* Ocupa todo el espacio disponible */
  overflow-y: scroll; /* Aquí está el scroll */
  padding-top: 190px;
  padding-bottom: 100px;
}

.item-movimiento {
  display: flex;
  align-items: center;
  justify-content: space-between; /* separa info y botones */
  margin-bottom: 12px;
  padding: 12px 16px;
  border-radius: 8px;
  background-color: #f9f9f9; /* color suave de fondo */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s, box-shadow 0.2s; /* animación */
  cursor: pointer;
}

.item-movimiento:hover {
  transform: translateY(-2px); /* se eleva un poquito al pasar mouse */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.item-movimiento .info {
  flex: 1;
  font-size: 15px;
  color: #333;
  word-break: break-word; /* evita que se salga del contenedor */
}

.item-movimiento button {
  margin-left: 8px;
}

/* Mensaje de no datos */
.no-datos {
  text-align: center;
  padding: 20px;
  color: #666;
}


/* --- Ajuste general para inputs y selects --- */
.MuiTextField-root,
.MuiFormControl-root {
  width: 100% !important;
  margin-bottom: 125px;
}

/* --- Estilo para pantallas pequeñas (móviles) --- */
@media (max-width: 768px) {
  .MuiTextField-root input,
  .MuiSelect-select,
  .MuiInputBase-input {
    padding: 14px 12px !important;
  }

  label.MuiInputLabel-root {
    font-size: 16px !important;
  }


}


